%section#content
  .container
    .row
      .page
        .page-body
          .row
            .eight.columns
              %h1
                = @question.title
              %p
                = @question.details
            .four.columns