.row
  .twelve.columns
    %hgroup.hr
      %h3.section-title
        =t "professionals.search.title"
      %h4.subheader
        =t "professionals.search.count", :count => @professionals.count, :what => @what, :where => @where
    - unless @professionals.blank?
      %ul.looper.professionals.block-grid.five-up.mobile-two-up
        - @professionals.each do |professional|
          %li= render "professionals/loops/regular", :professional => professional
    - else
      %p.no-records
        =t "professionals.count.zero"
