<p>Bonjour, <%= @resource.name %>!</p>

<p>Vous pouvez confirmer le courriel de votre compte via le lien ci-dessous :</p>

<p><%= link_to "Confirmer mon compte", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
