%p=t "users.mailer.confirmation_instructions.welcome", :display_name => @resource.display_name
%p=t "users.mailer.confirmation_instructions.content"
%p= link_to t("users.mailer.confirmation_instructions.label"), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
