<p class="center"><%= image_tag "/assets/mailer/user_mailer/goodbye_email/goodbye.png", :width => 180, :height => 240 %></p>

<h1 class="subject"><%= t("user_mailer.goodbye_email.subject").html_safe %></h1>

<p><%= @user.name %>, we are very sorry to see you leave. If ever you want to come back, we will welcome you with open arms.</p>