<p class="center"><%= image_tag "/assets/mailer/user_mailer/goodbye_email/goodbye.png", :width => 180, :height => 240 %></p>

<h1 class="subject"><%= t("user_mailer.goodbye_email.subject", :locale => @locale).html_safe %></h1>

<p><%= @user.name %>, nous sommes désolés de vous voir partir. Si jamais vous voulez revenir, nous vous accueillerons à bras ouverts.</p>