%p=t "users.mailer.welcome_email.welcome", :display_name => @user.display_name
- if @user.is_a_professional?
  %p=t "users.mailer.welcome_email.content.for_professional", :new_user_session_url => new_user_session_path, :new_question_url => new_question_path, :search_professionals_url => search_professionals_path
- else
  %p=t "users.mailer.welcome_email.content.for_user", :new_user_session_url => new_user_session_path, :new_question_url => new_question_path, :pages_url => pages_path, :edit_user_registration_url => edit_user_registration_path