%p.center= image_tag "http://kixo.ca/assets/mailer/user_mailer/welcome_email/welcome.png", :width => 180, :height => 240
%p= t("users.mailer.welcome_email.welcome", :display_name => @user.display_name, :locale => @user.locale.code).html_safe
- if @user.is_a_professional?
  %p= t("users.mailer.welcome_email.content.for_professional", :new_user_session_url => new_user_session_url(:locale => @user.locale.code), :new_question_url => new_question_url(:locale => @user.locale.code), :root_url => root_url(:locale => @user.locale.code), :edit_user_registration_url => edit_user_registration_url(:locale => @user.locale.code), :locale => @user.locale.code).html_safe
- else
  %p= t("users.mailer.welcome_email.content.for_user", :new_user_session_url => new_user_session_url(:locale => @user.locale.code), :new_question_url => new_question_url(:locale => @user.locale.code), :search_professionals_url => search_professionals_url(:locale => @user.locale.code), :locale => @user.locale.code).html_safe