- if controller_name == 'registrations'
  .panel.callout.green
    %h5= t("users.registrations.edit.panels.new_session.title")
    %p= t("users.registrations.edit.panels.new_session.content")
    %a.button{:href => "#", :data => {"reveal-id" => "new_session"}}
      = t("users.registrations.edit.panels.new_session.label")