- if controller_name != 'sessions'
  .panel.callout.green
    %h5 Already have an account?
    %p No need to create a new account! Sign in to your existing one.
    %a.button{:href => "#", :data => {"reveal-id" => "new_session"}} Sign in

- if devise_mapping.registerable? && controller_name != 'registrations'
  .panel.callout.green
    %h5 Don't have an account?
    %p You can join for free today and benefit from all the features.
    %p
      %a.small.button{:href => new_registration_path(resource_name)} Sign up