%footer#footer
  .container
    .row
      .three.columns
        #about-kixo
          %h5
            =t("site.about.title")
          %p
            =t("site.about.description")
      .nine.columns
        #browse_by_category
          %h5
            =t("browse_by.category")
          %ul.categories.block-grid.four-up.mobile-two-up
            - @all_categories.each do |category|
              %li= link_to category.name, category_path(category)
