%footer#footer
  .container
    .row
      .three.columns
        #about-kixo
          %h5
            =t :about_kixo_title
          %p
            =t :about_kixo_description
      .nine.columns
        %dl.tabs.pill
          %dd.active
            %a.active{:href => "#browsebytopic"}
              =t :browse_by_topic
          %dd
            %a{:href => "#browsebyprofession"}
              =t :browse_by_profession
          %dd
            %a{:href => "#browsebylocation"}
              =t :browse_by_location
        %ul.tabs-content
          %li#browsebytopicTab.active
            %ul.categories.block-grid.five-up
              - Category.by_locale.each do |category|
                %li
                  %a.category{:href => category_path(category)}
                    = category.name
                  %ul.topics
                    - category.topics.each do |topic|
                      %li
                        %a.topic{:href => category_topic_path(category, topic)}
                          = topic.name
          %li#browsebyprofessionTab
            %ul.categories.block-grid.five-up
              - Category.by_locale.each do |category|
                %li
                  %a.category{:href => category_path(category)}
                    = category.name
                  %ul.topics
                    - category.professions.each do |profession|
                      %li
                        %a.profession{:href => category_profession_path(category, profession)}
                          = profession.name
          %li#browsebylocationTab