- unless user_signed_in?
  %section#hero{:class => (defined?(slim) && slim) ? "slim" : ""}
    .container
      .row
        .seven.columns.end
          .hero-box
            .three.columns.text-center
              = image_tag "/assets/hero_ask.png"
            .nine.columns
              .twelve.columns
                %hgroup
                  %h1= t("layout.actions.ask.title", :who => (who or t("layout.actions.who")), :where => (where or I18n.t("layout.actions.where"))).html_safe
                  %h3.subheader= t("layout.actions.ask.subtitle", :who => (who or t("layout.actions.who")), :where => (where or I18n.t("layout.actions.where")))
              .clear
              .twelve.columns
                = link_to t("questions.new.label"), new_question_path, :class => "button large"
              .clear
            .clear