.row
  .eight.columns
    %section#questions
      %h4.section-title
        - if current_user
          = "Recent questions for you"
        - else
          = "Recent questions"
      %ul.questions
        - @questions.each do |question|
          %li.question
            = render "questions/shared/loop", :question => question
  .four.columns
    %aside#sidebar
