%section#content
  .container
    .row
      .eight.columns
        %section#recent-questions
          %h3 Recent question
          %ul.questions
            - @questions.each do |question|
              %li
                = render "questions/shared/loop", :question => question
      .four.columns
        %aside#sidebar
