.row
  .eight.columns
    .page
      %header
        .container
          %h2
            =t("questions.recent.title")
      %section.filter
        .container.tight
          %dl.sub-nav.filter
            %dd{:class => (params[:filter].blank? or params[:filter] == "all") ? "active" : ""}
              %a{:href => "?filter=all"}
                =t("questions.filters.all")
            - if user_signed_in?
              %dd{:class => params[:filter] == "mine" ? "active" : ""}
                %a{:href => "?filter=mine"}
                  =t("questions.filters.mine")
            - if user_signed_in? and current_user.is_a_professional?
              %dd{:class => params[:filter] == "for_me" ? "active" : ""}
                %a{:href => "?filter=for_me"}
                  =t("questions.filters.for_me")
            %dd{:class => params[:filter] == "most_popular" ? "active" : ""}
              %a{:href => "?filter=most_popular"}
                =t("questions.filters.most_popular")
            %dd{:class => params[:filter] == "answered" ? "active" : ""}
              %a{:href => "?filter=answered"}
                =t("questions.filters.answered")
            %dd{:class => params[:filter] == "unanswered" ? "active" : ""}
              %a{:href => "?filter=unanswered"}
                =t("questions.filters.unanswered")
      %section
        .container
          - unless @questions.blank?
            %ul.looper.questions
              - @questions.each do |question|
                %li= render "questions/shared/loop", :question => question
          - else
            %p.no-records
              =t("questions.count.zero")
  .four.columns
    %aside#sidebar
      %section
        %h5.section-title
          =t("professionals.top_contributors.title")
        - unless @top_contributors.blank?
          %ul.looper.tight.professionals.top-contributors
            - @top_contributors.each do |professional|
              %li= render "professionals/loops/minimal", :professional => professional
        - else
          %p.no-records
            =t("professionals.top_contributors.count.zero")
      = render "shared/ads"
