%section#content
  .container
    .row
      .eight.columns
        %section#questions
          %h3 Recent questions
          %ul.questions
            - @questions.each do |question|
              %li
                = render "questions/shared/loop", :question => question
      .four.columns
        %aside#sidebar
