- unless professional.nil?
  .professional.loop.minimal
    .container
      .row.collapse
        .three.columns.mobile-one
          = link_to professional_path(professional) do
            = image_tag professional.headshot.url(:thumb), :class => "headshot"
        .nine.columns.mobile-three
          .professional-details
            .name
              = link_to professional.name, professional_path(professional), :class => "name"
            .professions
              %i.icon-user
              = professional.professions_list