- unless professional.nil?
  .professional.loop.minimal
    .container
      .row
        .three.columns
          = link_to professional_path(professional) do
            = image_tag professional.headshot.url(:thumb), :class => "headshot"
        .nine.columns
          = link_to professional.name, professional_path(professional), :class => "name"
          .whois
            %span.professions
              = professional.professions_list