.beta
  .container
    .page
      %section.page-section.blue
        .container
          %h1
            =t("tagline").html_safe
          .well
            = form_for @eager_beaver do |f|
              %h4
                =t("beta.cta")
              .nine.columns
                = f.email_field :email, :class => "oversize", :placeholder => t("beta.email_placeholder")
              .three.columns
                = f.submit :class => "button radius secondary expand", :value => t("beta.button_text")
              .clear
          %span.arrow
      %section.page-section
        .container
          %a.brand{:href => "/"}
            %img.logo{:src => "/assets/biglogo.png", :width => "250", :height => "80", :alt => t(:logo_alt)}
    .langs
      - Locale.all.each do |locale|
        - if locale.code != I18n.locale.to_s
          %a{:href => new_eager_beaver_path(:locale => locale.code)}
            = locale.name.html_safe