.beta
  .container
    .page
      %section.page-section.blue
        .container
          %h1 Thank you for signing up!
          %h5 We will contact you when we launch!
          %span.arrow
      %section.page-section
        .container
          %a.brand{:href => "/"}
            %img.logo{:src => "/assets/biglogo.png", :width => "250", :height => "80", :alt => t(:logo_alt)}