.beta
  .container
    .page
      %section.page-section.blue
        .container
          %h1
            =t("beta.thank_you.title")
          %h5
            =t("beta.thank_you.subtitle")
          %span.arrow
      %section.page-section
        .container
          %a.brand{:href => "/"}
            %img.logo{:src => "/assets/biglogo.png", :width => "250", :height => "80", :alt => t(:logo_alt)}