h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0.5em 0;

  &:first-child {
    margin-top: 0 !important;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.button {
  font-size: 0.90*$baseFontSize;
  @include boxShadow(0,0,0,0);

  &.small {
    font-size: 0.80*$baseFontSize;
  }
}

form .actions {
  margin-top: 20px;
}

div.custom.dropdown {
  width: 101% !important;

  ul {
    width: 100% !important;
  }
}

.accordion {
  .title {
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  &.compact {
    .title {
      padding: 10px 15px;

      &:after {
        top: 13px;
      }
    }
  }
}

ul.side-nav {
  padding: 0;
}

.has-tip {
  font-weight: normal;
  color: $mainColor;
}

.gmap img {
  max-width: none;
  height: auto;
}

.vertical.tabs.white a {
  background: #fff;
}

.reveal-modal {
  @include boxShadow(0, 0, 0, 10px, rgba(0,0,0,0.10))
}
