form .actions {
  margin-top: 20px;
}

.panel {
  background: $white;

  &.callout h5 {
    color: $white;
  }

  &.green {
    background: $kixoGreen;
    border-color: darken($kixoGreen, 15%);

    a.button {
      color: darken($kixoGreen, 15%);
    }
  }

  &.grey {
    background: $kixoLightGrey;
  }
}

div.custom.dropdown {
  width: 101% !important;

  ul {
    width: 100% !important;
  }
}

.accordion {
  .title {
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }

  &.compact {
    .title {
      padding: 10px 15px;

      &:after {
        top: 13px;
      }
    }
  }
}

ul.side-nav {
  padding: 0;
}

.has-tip {
  font-weight: normal;
  color: $mainColor;
}

.map {
  img {
    max-width: none;
    height: auto;
  }
}

.reveal-modal {
  @include boxShadow(0, 0, 0, 10px, rgba(0,0,0,0.10))
}

@media only screen and (max-width: $screenSmall - 1) {

  .mobile-text-center {
    text-align: center;
  }

}