input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="file"],
textarea,
select {
  font-size: $baseFontSize;
  margin: 0;
}

select {
  width: auto;
}

.control-label {
  font-size: $mediumFontSize;
  font-weight: bold;
  text-transform: uppercase;

  &.checkbox {
    font-weight: normal;
    text-transform: none;
  }

  &.check_boxes {
    margin-bottom: $unit/$golden;
  }
}

.hint {
  font-size: $smallFontSize;
  top: 0;
}

.input {
  margin-bottom: $unit;

  label.checkbox {
    font-size: $mediumFontSize;
  }
}

.error small,
small.error {
  margin-top: 0;
}

.ui-autocomplete-loading {
  background-image: url(/assets/loading_16x16.gif);
  background-position: right center;
  background-repeat: no-repeat;
}

.error-list {
  list-style: none;
}