.clear { @include clearfix(); }

.hidden { display: none; }
.invisible { visibility: hidden; }

.no-marg { margin: 0 !important; }
.no-marg-top { margin-top: 0 !important; }
.no-marg-bottom { margin-bottom: 0 !important; }

.no-pad { padding: 0 !important; }
.no-pad-top { padding-top: 0 !important; }
.no-pad-bottom { padding-bottom: 0 !important; }

.marg { margin: $unit !important; }
.marg-bottom { margin-bottom: $unit !important; }
.marg-top { margin-top: $unit !important; }

.pad { padding: $unit !important; }
.pad-bottom { padding-bottom: $unit !important; }
.pad-top { padding-top: $unit !important; }

.pull-left { float: left; }
.pull-right { float: right; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.goto {
  cursor: pointer;
}

.no-records {
  font-style: italic;
  color: $lightTxtColor;
  margin: 0;
}

.access-denied {
  font-style: italic;
  color: $lightTxtColor;
}

.meta {
  font-size: $smallFontSize;
  color: $lightTxtColor;
}

.headshot > img,
img.headshot {
  @include borderRadius(500px);
}

.headshot-2 {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 110% 110%;
  @include borderRadius(500px);

  &.large {
    width: 160px;
    height: 160px;
  }

  &.medium {
    width: 120px;
    height: 120px;
  }

  &.small {
    width: 80px;
    height: 80px;
  }

  &.thumb {
    width: 50px;
    height: 50px;
  }
}

ul.inline {
  list-style: none;
  margin: 0;
  @include clearfix();

  > li {
    display: block;
    float: left;
  }

  &.spaced > li {
    margin-right: 0.5em;
  }
}

ul.csv {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;

    &:after { content: ","; }
    &:last-child:after { content: ""; }

    a {
      display: inline-block;
      margin-right: -0.25em;
    }
  }
}

ul.ssv {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;

    &:after { content: "\00a0\00a0/\00a0\00a0"; }
    &:last-child:after { content: ""; }
  }
}

ul.looper {
  list-style: none;
  margin-top: $golden*$unit;

  > li {
    margin-bottom: $golden*$unit;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.tight {
    margin-top: $unit;

    > li {
      margin-bottom: $unit;
    }
  }
}

ul.tags {
  li, a {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    position: relative;
    font-size: $smallFontSize;
  }

  li {
    margin-bottom: 6px;
  }

  a {
    margin: 0 12px 0 6px;
    padding: 0 8px 0 10px;
    background: $kixoLightGrey;
    color: $lightTxtColor;
    text-decoration: none;
    @include borderRightRadius($radius);

    &:before {
      content: "";
      float: left;
      position: absolute;
      top: 0;
      left: -11px;
      width: 0;
      height: 0;
      border-color: transparent $kixoLightGrey transparent transparent;
      border-style: solid;
      border-width: 11px 11px 11px 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      float: left;
      width: 4px;
      height: 4px;
      background: #fff;
      @include borderRadius($radius);
    }
  }

  &.blue-tags {
    a {
      background: $kixoBlue;
      color: $white;

      &:before {
        border-color: transparent $kixoBlue transparent transparent;
      }
    }
  }

  &.green-tags {
    a {
      background: $kixoGreen;
      color: $white;

      &:before {
        border-color: transparent $kixoGreen transparent transparent;
      }
    }
  }
}

dl.filter {
  dt, dd, a {
    font-size: $mediumFontSize;
  }

  dd {
    margin: 5px;
  }
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
}
.ui-autocomplete-loading {
  background: $white;
}

* html .ui-autocomplete {
  width: 1px;
} /* without this, the menu expands to 100% in IE6 */

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  background: rgba($white, 0.85);
  max-height: 200px;
  overflow: auto;

  .ui-menu {
    margin-top: -3px;
  }

  .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;

    a {
      text-decoration: none;
      display: block;
      padding: .2em .4em;
      zoom: 1;

      &.ui-state-hover,
      &.ui-state-active {
        background: $kixoBlue;
        color: $white;
      }
    }
  }
}