.clear {
  @include clearfix();
}

.header-group {
  margin: 0 0 1em 0;

  h1, h2, h3, h4, h5, h6 { margin: 0; }

  .subheader { margin-top: 0.4*$unit; }
}

.no-marg { margin: 0 !important; }
.no-marg-top { margin-top: 0 !important; }
.no-marg-bottom { margin-bottom: 0 !important; }
.no-pad { padding: 0 !important; }
.no-pad-top { padding-top: 0 !important; }
.no-pad-bottom { padding-bottom: 0 !important; }

.page {
  background: $white;
  border: 1px solid $borderColor;
  margin-bottom: $rowGutter;
  @include boxShadow(0,1px,3px,0,rgba(0,0,0,0.10));
  @include borderRadius($radius);

  .container {
    padding: $rowGutter $columnGutter;

    &.thin {
      padding-top: 0.5*$rowGutter;
      padding-bottom: 0.5*$rowGutter;
    }
  }

  .page-head {
    border-bottom: 1px solid $borderColor;

    .header-group {
      margin: 0;
    }

    h1, h2, h3, h4, h5, h6, p { margin: 0; }
  }

  .page-section {
    border-bottom: 1px solid $borderColor;

    &:first-child {
      @include borderTopRadius($radius);
    }

    &:last-child {
      border-bottom: none;
      @include borderBottomRadius($radius);
    }

    &.blue {
      background: $kixoBlue;
    }

    &.green {
      background: $kixoGreen;
    }
  }
}

.panel {
  background: $white;
  @include boxShadow(0,1px,3px,0,rgba(0,0,0,0.10));
  @include borderRadius($radius);

  &.callout h5 {
    color: $white;
  }

  &.green {
    background: $kixoGreen;
    border-color: darken($kixoGreen, 15%);

    a.button {
      color: darken($kixoGreen, 15%);
    }
  }

  &.grey {
    background: $kixoLightGrey;
  }
}

.headshot img {
  @include borderRadius($buttonRadius);
}

ul.inline {
  list-style: none;
  margin: 0;
  @include clearfix();

  > li {
    display: block;
    float: left;
  }

  &.spaced > li {
    margin-right: 0.50*$baseFontSize;
  }
}