.clear { @include clearfix(); }

.hidden { display: none; }
.invisible { visibility: hidden; }

.no-marg { margin: 0 !important; }
.no-marg-top { margin-top: 0 !important; }
.no-marg-bottom { margin-bottom: 0 !important; }

.no-pad { padding: 0 !important; }
.no-pad-top { padding-top: 0 !important; }
.no-pad-bottom { padding-bottom: 0 !important; }

.marg { margin: $unit !important; }
.marg-bottom { margin-bottom: $unit !important; }
.marg-top { margin-top: $unit !important; }

.pad { padding: $unit !important; }
.pad-bottom { padding-bottom: $unit !important; }
.pad-top { padding-top: $unit !important; }

.pull-left { float: left; }
.pull-right { float: right; }

.goto {
  cursor: pointer;
}

.no-records {
  font-style: italic;
  color: $lightTxtColor;
  margin: 0;
}

.meta {
  font-size: 0.90*$baseFontSize;
  color: $lightTxtColor;
}

.headshot img,
img.headshot {
  @include borderRadius(500px);
}

ul.inline {
  list-style: none;
  margin: 0;
  @include clearfix();

  > li {
    display: block;
    float: left;
  }

  &.spaced > li {
    margin-right: 0.50*$baseFontSize;
  }
}

ul.csv {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;

    &:after { content: ","; }
    &:last-child:after { content: ""; }

    a {
      display: inline-block;
      margin-right: -0.25em;
    }
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
}
.ui-autocomplete-loading {
  background: $white;
}

* html .ui-autocomplete {
  width: 1px;
} /* without this, the menu expands to 100% in IE6 */

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  background: rgba($white, 0.85);
  max-height: 200px;
  overflow: auto;

  .ui-menu {
    margin-top: -3px;
  }

  .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;

    a {
      text-decoration: none;
      display: block;
      padding: .2em .4em;
      zoom: 1;

      &.ui-state-hover,
      &.ui-state-active {
        background: $kixoBlue;
        color: $white;
      }
    }
  }
}