body {
  background: $kixoLightGrey;
}

#header {
  background: $white;
  line-height: 1.0;
  margin: 0;
  padding-top: $topBarHeight;

  > .container {
    background: $white;
    padding: 0 $columnGutter;
    border-top: 3px solid $kixoGreen;
    @include boxShadow(0,1px,1px,1px,rgba(0,0,0,0.15));
  }

  .top-bar {
    ul {
      margin: 0;

      &.dropdown {
        min-width: 100%;
        padding-top: 0;

        > .divider {
          border-color: darken($topBarDropBgColor, 7%);
        }
      }

      > li {
        &:hover, &.active, &:focus {
          background: $topBarDropBgColor;
        }

        &.divider {
          background: $topBarDropBgColor;
        }

        &#login {
          .dropdown > li {
            width: 400px;
            padding: $unit*$golden*$golden;

            form {
              margin: 0;
            }

            label {
              color: $txtColor;
              font-size: $smallFontSize;
              font-weight: bold;
              margin: inherit;
              padding-left: 0;
              text-transform: uppercase;
            }
          }
        }

        a {
          text-transform: uppercase;
        }
      }
    }
  }

  .count {
    float: right;
    position: relative;
    top: -1px;
    font-size: $miniFontSize;
    font-weight: bold;
    padding: 3px 5px;
    line-height: 1.0;
    color: $white;
    background: $kixoRed;
    @include borderRadius(100px);
  }
}

#hero {
  background-color: $black;
  background-image: url(/assets/hero_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;

  > .container {
    padding: 220px 0;
  }

  &.slim > .container {
    padding: 100px;
  }

  .hero-box {
    background: $white;
    padding: $unit*$golden*$golden;

    h1 {
      color: $lightTxtColor;

      em {
        display: inline-block;
        color: $kixoBlue;
        font-style: normal;
      }
    }

    form {
      margin-top: $unit;
    }
  }
}

#content > .container {
  padding: $rowGutter 0;
}

#sidebar {
}

#flashes {
  .alert-box {
    text-align: center;
    margin: 0;
    padding: $unit*$golden;
    border: 0;
    @include borderRadius(0);
  }
}

#footer {
  background: $white;
  color: $lightTxtColor;
  border-top: 1px solid $borderColor;

  > .container {
    padding: $rowGutter $columnGutter;
  }

  h5 {
    color: $lightTxtColor;
  }

  a {
    @include subtleLink;
  }

  p, li {
    font-size: $smallFontSize;
  }

  ul {
    list-style: none;
  }

  #social-media {
    margin: $rowGutter 0;
    padding: $unit 0;
    border-top: 1px solid $hrColor;
    border-bottom: 1px solid $hrColor;

    i {
      font-size: 30px;
      line-height: 1.0;
    }
  }
}

.box, .page, .panel {
  border: 1px solid $kixoDarkSandy;
  @include borderRadius($radius);
}

.box,
.page {
  background: $white;

  > header {
    border-bottom: 1px solid $borderColor;
    margin: 0;

    hgroup {
      margin: 0;
    }

    h1, h2, h3, h4, h5, h6, p {
      margin: 0;
    }

    .filter {
      margin-top: $unit;
    }
  }

  > section,
  > .section {
    border-bottom: 1px solid $borderColor;

    &:first-child {
      @include borderTopRadius($radius);
    }

    &:last-child {
      border-bottom: none;
      @include borderBottomRadius($radius);
    }

    &.blue {
      background: $kixoBlue;
    }

    &.green {
      background: $kixoGreen;
    }

    &.filter {
      background: $kixoLightGrey;
    }

    > header {
      margin: 0;
      border-bottom: 1px solid $borderColor;
    }
  }
}

.box {
  margin-bottom: $unit;

  .container {
    padding: $golden*$unit;

    &.tight {
      padding: $unit $golden*$unit;
    }
  }
}

.page {
  margin-bottom: $golden*$unit;
  border-top: 3px solid $kixoGreen;

  .container {
    padding: $golden*$unit $golden*$golden*$unit;

    &.tight {
      padding: $unit $golden*$golden*$unit;
    }
  }
}

.panel {
  background: $white;
  padding: $golden*$unit;

  &.callout h5 {
    color: $white;
  }

  &.green {
    background: $kixoGreen;
    border-color: darken($kixoGreen, 15%);

    a.button {
      color: darken($kixoGreen, 15%);
    }
  }

  &.grey {
    background: $kixoLightGrey;
  }
}