body {
  background-color: $bodyBgColor;
}

form {
  margin: 10px 0 0 0;
}

.page {
  background: $white;
  border: 1px solid $borderColor;
  margin-bottom: 20px;

  .page-head {
    padding: 30px;
    border-bottom: 1px solid $borderColor;

    .header-group {
      margin: 0;
    }

    h1, h2, h3, h4, h5, h6 { margin: 0; }
  }

  .page-body {
    padding: 20px 30px;

    .page-section {
      margin: 0 -30px;
      padding: 20px 30px;
      border-bottom: 1px solid $borderColor;

      &:first-child {
        margin-top: -20px;
      }

      &:last-child {
        margin-bottom: -20px;
        border-bottom: none;
      }

      &.blue {
        background: $kixoBlue;
      }

      &.green {
        background: $kixoGreen;
      }
    }
  }
}

#header {
  background: $white;

  #language-select {
    .container {
      padding: 40px 0;
      background: $kixoDarkBlue;

      a {
        color: $secondaryColor;

        &:hover { color: $white; }
      }
    }
  }

  #head {
    line-height: 1.0;
    border-top: 3px solid $kixoGreen;

    > .container {
      padding: 15px 0;
    }

    .brand {
      float: left;
    }

    #language {
      float: left;
      position: relative;
      top: 12px;
      left: 20px;

      a {
        color: $lightTxtColor;
        font-size: 0.90 * $baseFontSize;

        &:hover {
          color: $txtColor;
        }

        i {
          font-size: 0.8 * $baseFontSize;
          opacity: 0.8;
        }
      }
    }

    ul {
      margin: 6px 0;
      float: right;

      ul {
        margin: 0;
      }
    }
  }

  #actions {
    #actions-tabs {
      background: $kixoBlue;

      .tabs {
        border: none;
        margin: 0;

        a {
          position: relative;
          color: rgba($white, 0.75);
          font-weight: bold;
          height: 60px;
          line-height: 60px;
          background: none;
          border: none;

          i { font-size: 2.00 * $baseFontSize; }

          .hide-for-small .icon {
            position: absolute;
            left: 20px;
            bottom: -30px;
            @include boxRotate(-10deg);

            i { font-size: 5.00 * $baseFontSize; }
          }

          .txt {
            font-size: 1.15 * $baseFontSize;
          }

          &:hover {
            color: $white;
          }
        }

        .active {
          border: none;
          margin: 0;

          a {
            border: none;
            color: $white;
            background: darken($kixoBlue, 5%);
          }
        }
      }
    }

    #actions-tabs-content {
      .tabs-content {
        background: $white;
        margin: 0;

        li {
          padding: 20px 0;
          border: none;

          .container {
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
      }

      form {
        margin: 0;
      }
    }
  }
}

#banner {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;

  .container {
    padding: 40px 0;
  }

  #hero {
    margin: 0 0 40px 0;
    text-align: center;
  }
}

#content {
  .container {
    padding: 40px 0;
  }
}

#footer {
  background: $kixoDarkBlue;
  color: $secondaryColor;

  > .container {
    padding: 20px 0;
  }

  #about-kixo {
    h5 {
      color: $white;
    }

    p {
      font-size: 0.80 * $baseFontSize;
    }
  }

  .tabs {
    border-bottom: 1px solid rgba(255,255,255,0.10);

    a {
      font-size: 0.90 * $baseFontSize;
      background: none;
      color: $white;

      &:hover {
        background: rgba(255,255,255,0.10);
      }
    }

    .active a {
      background: $secondaryColor;
      color: $txtColor;
    }
  }

  .tabs-content {
    ul {
      list-style: none;

      li, a {
        font-size: 0.90 * $baseFontSize;
        font-weight: bold;
        color: $white;
      }

      ul {
        margin: 0;

        li, a {
          font-size: 0.80 * $baseFontSize;
          font-weight: normal;
          color: $secondaryColor;
        }
      }
    }
  }
}