body {
  background-color: $bodyBgColor;
}

form {
  margin: $unit 0 0 0;
}

#header {
  background: $white;
  @include boxShadow(0,1px,3px,0,rgba(0,0,0,0.1));

  #language-select {
    .container {
      padding: 4.00*$unit 0;
      background: $kixoDarkBlue;

      a {
        color: $secondaryColor;

        &:hover { color: $white; }
      }
    }
  }

  #head {
    line-height: 1.0;
    border-top: 3px solid $kixoGreen;

    > .container {
      padding: $rowGutter 0;
    }

    .brand {
      float: left;
    }

    #language {
      float: left;
      position: relative;
      top: 12px;
      left: 20px;

      a {
        color: $lightTxtColor;
        font-size: 0.90*$baseFontSize;

        &:hover {
          color: $txtColor;
        }

        i {
          font-size: 0.80*$baseFontSize;
          opacity: 0.80;
        }
      }
    }

    ul {
      margin: 6px 0;
      float: right;

      ul {
        margin: 0;
      }
    }
  }

  #actions {
    #actions-tabs {
      background: $kixoBlue;

      .tabs {
        border: none;
        margin: 0;

        a {
          height: 60px;
          position: relative;
          color: rgba($white, 0.75);
          font-weight: bold;
          background: none;
          border: none;

          i, span {
            line-height: 60px;
          }

          i {
            font-size: 2.00*$baseFontSize;
          }

          span {
            font-size: 1.15*$baseFontSize;
          }

          .hide-for-small {
            i, span {
              position: relative;
            }

            i {
              left: -5px;
            }

            span {
              left: 5px;
              top: -4px;
            }
          }

          &:hover {
            color: $white;
          }
        }

        .arrow {
          display: none;
          width: $unit;
          height: $unit;
          background: $white;
          position: absolute;
          left: 50%;
          bottom: -0.50*$unit;
          @include boxRotate(45deg);
        }

        .active {
          border: none;
          margin: 0;

          a {
            border: none;
            color: $white;
            background: darken($kixoBlue, 5%);
          }

          .arrow {
            display: block;
          }
        }
      }
    }

    #actions-tabs-content {
      .tabs-content {
        background: $white;
        margin: 0;

        li {
          padding: 2.00*$unit 0;
          border: none;

          .container {
            padding-top: $unit;
            padding-bottom: $unit;
          }
        }
      }

      form {
        margin: 0;
      }
    }
  }
}

#content {
  > .container {
    margin: 2*$rowGutter 0;
  }
}

#footer {
  background: $kixoDarkBlue;
  color: $secondaryColor;

  > .container {
    padding: 2*$rowGutter 0;
  }

  #about-kixo {
    h5 {
      color: $white;
    }

    p {
      font-size: 0.80*$baseFontSize;
    }
  }

  .tabs {
    border-bottom: 1px solid rgba(255,255,255,0.10);

    a {
      font-size: 0.90*$baseFontSize;
      background: none;
      color: $white;

      &:hover {
        background: rgba(255,255,255,0.10);
      }
    }

    .active a {
      background: $secondaryColor;
      color: $txtColor;
    }
  }

  .tabs-content {
    ul {
      list-style: none;

      li, a {
        font-size: 0.90*$baseFontSize;
        font-weight: bold;
        color: $white;
      }

      ul {
        margin: 0;

        li, a {
          font-size: 0.80*$baseFontSize;
          font-weight: normal;
          color: $secondaryColor;
        }
      }
    }
  }
}