.professional {
  h1.name {
    margin-bottom: $golden*$unit;
  }

  ul.taxonomies {
    margin-bottom: $golden*$unit;
  }

  ul.topics {
    list-style: none;

    li {
      display: block;
      float: left;
    }
  }

  .about {
    margin-bottom: $unit;
  }

  .gmap {
    height: 300px;

    .address {
      font-size: $smallFontSize;
    }
  }

  .metrics {
    li {
      padding-bottom: 0;
      margin: 0;
    }

    .key {
      display: block;
      color: $lightTxtColor;
      text-transform: uppercase;
      font-size: $miniFontSize;
    }

    .value {
      display: block;
      font-size: $xxlFontSize;
      font-weight: bold;
      line-height: 2.5*$unit;
    }
  }

  &.loop {
    text-align: center;

    &.minimal {
      text-align: left;

      .professional-details {
        padding-left: $unit;
      }

      .name {
        font-weight: bold;
      }
    }

    &.standard {
      .headshot {
        margin: $unit/$golden 0;
      }
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        padding: 0;
      }
    }

    .metrics {
      .key {
        font-size: $microFontSize;
      }

      .value {
        font-size: $largeFontSize;
      }
    }

    .address {
      font-size: $smallFontSize;
      color: $lightTxtColor;
    }

    .cta {
      margin-top: $golden*$unit;
    }
  }
}
