.question {
  .meta {
    margin: $unit/$golden 0;
  }

  ul.actions {
    margin: 0;
    @include inlineList;

    li {
      margin-right: 0.5em;

      a {
        @include subtleLink;
      }
    }
  }

  &.loop {
    .title,
    .meta {
      margin: 0;
    }

    .details {
      font-size: $smallFontSize;
    }

    .answers-count {
      font-size: $smallFontSize;
    }
  }
}

.answer {
  .actions {
    visibility: hidden;
    font-size: $smallFontSize;
  }

  &:hover .actions {
    visibility: visible;
  }

  .professional .name {
    font-weight: bold;
  }
}