.question {
  .meta {
    margin: $unit/$golden 0;
  }

  ul.actions {
    margin: 0;
    @include inlineList;

    li {
      margin-right: 0.5em;

      a {
        @include subtleLink;
      }
    }
  }

  .topics {
    margin-top: $unit*$golden;
  }

  &.loop {
    .title {
      margin-bottom: $unit;
    }

    .details {
      font-size: $smallFontSize;
      margin-bottom: $unit;
    }

    .answers-count {
      font-size: $smallFontSize;
    }
  }
}
