.questions {
  list-style: none;
}

.question {
  .topics {
    list-style: none;
    display: inline;
  }

  &.loop {

    .title {
      font-size: 1.25 * $baseFontSize;
      margin: 0;
    }
  }
}