.question {
  .meta {
    margin: $unit 0;
  }

  &.loop {
    .title,
    .meta {
      margin: 0;
    }

    .details {
      font-size: $smallFontSize;
    }

    .answers-count {
      font-size: $smallFontSize;
    }
  }
}

.answer {
  .actions {
    visibility: hidden;
    font-size: $smallFontSize;
  }

  &:hover .actions {
    visibility: visible;
  }

  .professional .name {
    font-weight: bold;
  }
}