@media only screen and (max-width: $screenSmall - 1) {

  .mobile-text-center {
    text-align: center;
  }

  .mobile-text-left {
    text-align: center;
  }

  .mobile-text-right {
    text-align: right;
  }

  .mobile-no-float {
    float: none;
  }

  .mobile-centered {
    margin-left: auto;
    margin-right: auto;
  }

}