.reviews {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 15px;
  }

  .review {
    .created_at {
      color: $lightTxtColor;
    }

    .rating {
      font-weight: bold;

      &.rating1 {
        color: $kixoRed;
      }

      &.rating2, &.rating3, &.rating4 {
        color: $kixoBlue;
      }

      &.rating5 {
        color: $kixoGreen;
      }
    }

    .comment {
      &:before {
        content: " - ";
      }
    }
  }
}