.browse-by-taxonomy {
  ul {
    list-style: none;
    margin: 0;
  }

  .country-name {
    font-weight: bold;
    text-transform: uppercase;
  }

  .region-name {
    font-weight: bold;
  }

  .topics-title {
    font-weight: bold;
  }

  .professions-title {
    font-weight: bold;
  }
}
