body {
  line-height: 1.2;
}

h1 { font-size: 2.20*$baseFontSize; color: $mainColor; }
h2 { font-size: 1.60*$baseFontSize; }
h3 { font-size: 1.40*$baseFontSize; }
h4 { font-size: 1.30*$baseFontSize; }
h5 { font-size: 1.20*$baseFontSize; }
h6 { font-size: 1.00*$baseFontSize; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;

  &.subheader {
    font-family: $subheaderFontFamily;
    color: #5a6874;
  }

  &.section-header {
    border-bottom: 1px solid $borderColor;
    padding-bottom: $unit*$golden;
    margin: 0 0 $unit*$golden 0;
  }

  &.section-title {
    text-transform: uppercase;
    margin-bottom: 1em;
  }
}

h4, h5, h6 {
  font-family: $bodyFontFamily;
}

hgroup,
header {
  margin: $unit 0;

  &.hr {
    border-bottom: 1px solid $hrColor;
    padding-bottom: 1em;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  .subheader, p {
    margin-top: 0.25em;
  }
}

hr {
  margin: $unit*$golden 0;

  &.slim {
    margin: $unit 0;
  }
}

a {
  font-size: inherit;

  &.delete {
    color: $kixoRed;
  }
}

em {
  font-style: italic;
  font-weight: bold;
}

.red-txt {
  color: $kixoRed;
}