/*!
 * Kixo v1.0.0
 *
 * Crafted by @JonathanRoy
 */

@import "settings";
@import "foundation";
@import "mixins";
@import "general_foundicons.scss";
@import "fixes";

body {
  background-color: $bodyBgColor;
  line-height: 1.6;
}

h1 {
  color: $mainColor;
}

h1 { font-size: $baseFontSize * 2.50; }
h2 { font-size: $baseFontSize * 2.00; }
h3 { font-size: $baseFontSize * 1.50; }
h4 { font-size: $baseFontSize * 1.25; }
h5 { font-size: $baseFontSize * 1.15; }
h6 { font-size: $baseFontSize * 1.00; }

.header-group {
  margin: 0 0 1em 0;

  h1, h2, h3, h4, h5, h6 { margin: 0; }

  .subheader { margin-top: 0.25em; }

  i {
    color: darken($white, 10%);
    float: left;
    margin: 0 20px 0 0;
  }
}

.no-marg { margin: 0; }
.no-marg-top { margin-top: 0; }

form {
  margin: 10px 0 0 0;
}

.page {
  background: $white;
  border: 1px solid $borderColor;
  margin-bottom: 20px;

  .page-head {
    padding: 30px;
    border-bottom: 1px solid $borderColor;

    .header-group {
      margin: 0;
      i { font-size: 6em; }
    }
  }

  .page-subhead {
    padding: 15px 30px;
    border-bottom: 1px solid $borderColor;

    &.blue {
      background: $kixoBlue;
    }

    &.green {
      background: $kixoGreen;
    }
  }

  .page-body {
    padding: 30px;
  }
}

form .actions {
  margin-top: 20px;
}

#header {
  background: $white;

  #language-select {
    .container {
      padding: 40px 0;
      background: $kixoDarkBlue;

      a {
        color: $secondaryColor;

        &:hover { color: $white; }
      }
    }
  }

  #head {
    border-top: 3px solid $kixoGreen;

    > .container {
      padding: 12px 0;
    }

    .brand {
      float: left;
    }

    #language {
      float: left;
      position: relative;
      top: 14px;
      left: 20px;

      a {
        color: $lightTxtColor;

        &:hover {
          color: $txtColor;
        }

        i {
          font-size: 0.7em;
          opacity: 0.7;
        }
      }
    }

    ul {
      margin: 7px 0;
      float: right;

      ul {
        margin: 0;
      }
    }
  }

  #actions {
    #actions-tabs {
      background: $kixoBlue;

      .tabs {
        border: none;
        margin: 0;

        a {
          position: relative;
          color: rgba($white, 0.75);
          font-weight: bold;
          height: 60px;
          line-height: 60px;
          background: none;
          border: none;

          i { font-size: 30px; }

          .hide-for-small .icon {
            position: absolute;
            left: 20px;
            bottom: -30px;
            @include boxRotate(-10deg);

            i { font-size: 60px; }
          }

          .txt {
            font-size: 1.15em;
          }

          &:hover {
            color: $white;
          }
        }

        .active {
          border: none;
          margin: 0;

          a {
            border: none;
            color: $white;
            background: darken($kixoBlue, 5%);
          }
        }
      }
    }

    #actions-tabs-content {
      .tabs-content {
        background: $white;
        margin: 0;

        li {
          padding: 20px 0;
          border: none;

          .container {
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
      }

      form {
        margin: 0;
      }
    }
  }
}

#banner {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;

  .container {
    padding: 40px 0;
  }

  #hero {
    margin: 0 0 40px 0;
    text-align: center;
  }
}

#content {
  .container {
    padding: 40px 0;
  }
}

#footer {
  background: $kixoDarkBlue;
  color: $secondaryColor;

  > .container {
    padding: 20px 0;
  }

  #about-kixo {
    h5 {
      color: $white;
    }

    p {
      font-size: 11px;
    }
  }

  .tabs {
    border-bottom: 1px solid rgba(255,255,255,0.10);

    a {
      font-size: 12px;
      background: none;
      color: $white;

      &:hover {
        background: rgba(255,255,255,0.10);
      }
    }

    .active a {
      background: $secondaryColor;
      color: $txtColor;
    }
  }

  .tabs-content {
    ul {
      list-style: none;

      li, a {
        font-size: 12px;
        font-weight: bold;
        color: $white;
      }

      ul {
        margin: 0;

        li, a {
          font-size: 11px;
          font-weight: normal;
          color: $secondaryColor;
        }
      }
    }
  }
}

.professional {
  .name {
    margin: 0.25em 0;
  }

  .professions {
    color: $lightTxtColor;
    font-style: italic;
  }

  .address {
    color: $lightTxtColor;
  }

  &.full {
  }

  &.loop {
    position: relative;
    padding: 20px 20px 60px 20px;
    border: 1px solid $borderColor;
    text-align: center;
    background: $white;

    ul {
      list-style: none;
      margin: 0;
    }

    .cta {
      margin: 15px 0;
    }

    .metrics {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid $borderColor;

      li {
        border: 1px solid $borderColor;
        border-width: 0 1px 0 0;

        &:last-child {
          border-right: 0;
        }
      }

      .label {
        background: none;
        color: $lightTxtColor;
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: normal;
      }

      .value {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1;
      }
    }
  }
}
