/*!
 * Kixo v1.0.0
 *
 * Crafted by @JonathanRoy
 */

@import "settings";
@import "foundation";
@import "mixins";
@import "general_foundicons.scss";
@import "fixes";

body {
  background-color: $bodyBgColor;
}

h1 {
  color: $mainColor;
}

.header-group {
  margin: 0 0 1em 0;

  h1, h2, h3, h4, h5, h6 { margin: 0; }

  .subheader { margin-top: 0.25em; }

  i {
    color: darken($white, 10%);
    float: left;
    margin: 0 20px 0 0;
  }
}

.no-marg { margin: 0; }
.no-marg-top { margin-top: 0; }

form {
  margin: 10px 0 0 0;
}

.page {
  background: $white;
  border: 1px solid $borderColor;
  margin-bottom: 20px;

  .page-head {
    padding: 30px;
    border-bottom: 1px solid $borderColor;

    .header-group {
      margin: 0;
      i { font-size: 6em; }
    }
  }

  .page-subhead {
    padding: 15px 30px;
    border-bottom: 1px solid $borderColor;

    &.blue {
      background: $kixoBlue;
    }

    &.green {
      background: $kixoGreen;
    }
  }

  .page-body {
    padding: 30px;
  }
}

form .actions {
  margin-top: 20px;
}

#header {
  background: $white;

  #language-select {
    .container {
      padding: 40px 0;
      background: $kixoDarkBlue;

      a {
        color: $secondaryColor;

        &:hover { color: $white; }
      }
    }
  }

  #head {
    border-top: 2px solid $kixoBlue;
    border-bottom: 1px solid $borderColor;

    > .container {
      padding: 12px 0;
    }

    .brand {
      float: left;
    }

    #language {
      float: left;
      position: relative;
      top: 15px;
      left: 20px;

      a {
        color: $lightTxtColor;

        &:hover {
          color: $txtColor;
        }

        i {
          font-size: 0.7em;
          opacity: 0.7;
        }
      }
    }

    ul {
      margin: 7px 0;
      float: right;

      ul {
        margin: 0;
      }

      &.actions {
        float: right;
        list-style: none;

        a {
          display: inline-block;
          padding: 3px 6px;
          color: $lightTxtColor;

          &:hover { color: $txtColor; }
        }

        > li {
          float: left;
          margin: 0 0 0 10px;
        }
      }

      &.account {
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid $borderColor;
      }
    }
  }
}

#banner {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;

  .container {
    padding: 40px 0;
  }

  #hero {
    margin: 0 0 40px 0;
    text-align: center;
  }

  #banner-actions {
    .tabs {
      border: none;
      
      a {
        color: $lightTxtColor;
        font-weight: bold;
      }
      
      .active a {
        border: none;
        color: $txtColor;
      }

      .show-for-small {
        font-size: 1.5em;
      }
    }

    .tabs-content {
      background: $white;
      
      li {
        border: none;

        .container {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }

    form {
      margin: 0;
    }
  }
}

#content {
  .container {
    padding: 40px 0;
  }
}

#footer {
  background: $kixoDarkBlue;
  color: $secondaryColor;

  > .container {
    padding: 20px 0;
  }

  #about-kixo {
    h5 {
      color: $white;
    }

    p {
      font-size: 11px;
    }
  }

  .tabs {
    border-bottom: 1px solid rgba(255,255,255,0.10);

    a {
      font-size: 12px;
      background: none;
      color: $white;

      &:hover {
        background: rgba(255,255,255,0.10);
      }
    }

    .active a {
      background: $secondaryColor;
      color: $txtColor;
    }
  }

  .tabs-content {
    ul {
      list-style: none;

      li, a {
        font-size: 12px;
        font-weight: bold;
        color: $white;
      }

      ul {
        margin: 0;

        li, a {
          font-size: 11px;
          font-weight: normal;
          color: $secondaryColor;
        }
      }
    }
  }
}

.professional-profile {
  padding: 20px;
  border: 1px solid $borderColor;
  text-align: center;
  background: $kixoLightGrey;

  ul {
    list-style: none;
    margin: 0;
  }

  .name {
    font-size: 1.25em;
    font-weight: bold;
  }

  .professions {
    color: $lightTxtColor;
    font-style: italic;

    li {
      display: inline-block;
      margin: 0 0.25em;

      &:after {
        content: "/";
      }

      &:last-child:after {
        content: "";
      }
    }
  }

  .address {
    color: $lightTxtColor;
  }

  .cta {
    margin: 15px 0;
  }

  .metrics {
    margin: 0 -20px -20px -20px;
    border-top: 1px solid $borderColor;

    li {
      border: 1px solid $borderColor;
      border-width: 0 1px 0 0;

      &:last-child {
        border-right: 0;
      }
    }

    .label {
      background: none;
      color: $lightTxtColor;
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: normal;
    }

    .value {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1;
    }
  }
}
