/*!
 * Kixo v1.0.0
 *
 * Crafted by @JonathanRoy
 */

@import "settings";
@import "foundation";
@import "mixins";
@import "general_foundicons";

body {
  background-color: $bodyBgColor;
  line-height: 1.6;
}

h1 { font-size: 2.25 * $baseFontSize; color: $mainColor; }
h2 { font-size: 1.75 * $baseFontSize; }
h3 { font-size: 1.50 * $baseFontSize; }
h4 { font-size: 1.25 * $baseFontSize; }
h5 { font-size: 1.00 * $baseFontSize; }
h6 { font-size: 0.90 * $baseFontSize; }

.header-group {
  margin: 0 0 1em 0;

  h1, h2, h3, h4, h5, h6 { margin: 0; }

  .subheader { margin-top: 0.25em; }
}

.no-marg { margin: 0 !important; }
.no-marg-top { margin-top: 0 !important; }
.no-marg-bottom { margin-bottom: 0 !important; }
.no-pad { padding: 0 !important; }
.no-pad-top { padding-top: 0 !important; }
.no-pad-bottom { padding-bottom: 0 !important; }

.no-records {
  font-style: italic;
  color: $lightTxtColor;
}

.meta {
  font-size: 0.90 * $baseFontSize;
  color: $lightTxtColor;
}

form {
  margin: 10px 0 0 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  font-size: $baseFontSize;
}

.page {
  background: $white;
  border: 1px solid $borderColor;
  margin-bottom: 20px;

  .page-head {
    padding: 30px;
    border-bottom: 1px solid $borderColor;

    h1, h2, h3, h4, h5, h6 { margin: 0; }
  }

  .page-body {
    padding: 15px 30px;

    .page-section {
      margin: 0 -30px;
      padding: 15px 30px;
      border-bottom: 1px solid $borderColor;

      &:first-child {
        margin-top: -15px;
      }

      &:last-child {
        margin-bottom: -15px;
        border-bottom: none;
      }

      &.blue {
        background: $kixoBlue;
      }

      &.green {
        background: $kixoGreen;
      }
    }
  }
}

#header {
  background: $white;

  #language-select {
    .container {
      padding: 40px 0;
      background: $kixoDarkBlue;

      a {
        color: $secondaryColor;

        &:hover { color: $white; }
      }
    }
  }

  #head {
    line-height: 1.0;
    border-top: 3px solid $kixoGreen;

    > .container {
      padding: 15px 0;
    }

    .brand {
      float: left;
    }

    #language {
      float: left;
      position: relative;
      top: 12px;
      left: 20px;

      a {
        color: $lightTxtColor;
        font-size: 0.90 * $baseFontSize;

        &:hover {
          color: $txtColor;
        }

        i {
          font-size: 0.7 * $baseFontSize;
          opacity: 0.7;
        }
      }
    }

    ul {
      margin: 6px 0;
      float: right;

      ul {
        margin: 0;
      }
    }
  }

  #actions {
    #actions-tabs {
      background: $kixoBlue;

      .tabs {
        border: none;
        margin: 0;

        a {
          position: relative;
          color: rgba($white, 0.75);
          font-weight: bold;
          height: 60px;
          line-height: 60px;
          background: none;
          border: none;

          i { font-size: 30px; }

          .hide-for-small .icon {
            position: absolute;
            left: 20px;
            bottom: -30px;
            @include boxRotate(-10deg);

            i { font-size: 60px; }
          }

          .txt {
            font-size: 1.15 * $baseFontSize;
          }

          &:hover {
            color: $white;
          }
        }

        .active {
          border: none;
          margin: 0;

          a {
            border: none;
            color: $white;
            background: darken($kixoBlue, 5%);
          }
        }
      }
    }

    #actions-tabs-content {
      .tabs-content {
        background: $white;
        margin: 0;

        li {
          padding: 20px 0;
          border: none;

          .container {
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
      }

      form {
        margin: 0;
      }
    }
  }
}

#banner {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;

  .container {
    padding: 40px 0;
  }

  #hero {
    margin: 0 0 40px 0;
    text-align: center;
  }
}

#content {
  .container {
    padding: 40px 0;
  }
}

#footer {
  background: $kixoDarkBlue;
  color: $secondaryColor;

  > .container {
    padding: 20px 0;
  }

  #about-kixo {
    h5 {
      color: $white;
    }

    p {
      font-size: 0.80 * $baseFontSize;
    }
  }

  .tabs {
    border-bottom: 1px solid rgba(255,255,255,0.10);

    a {
      font-size: 0.90 * $baseFontSize;
      background: none;
      color: $white;

      &:hover {
        background: rgba(255,255,255,0.10);
      }
    }

    .active a {
      background: $secondaryColor;
      color: $txtColor;
    }
  }

  .tabs-content {
    ul {
      list-style: none;

      li, a {
        font-size: 0.90 * $baseFontSize;
        font-weight: bold;
        color: $white;
      }

      ul {
        margin: 0;

        li, a {
          font-size: 0.80 * $baseFontSize;
          font-weight: normal;
          color: $secondaryColor;
        }
      }
    }
  }
}

@import "professionals";
@import "reviews";
@import "questions";
@import "answers";

@import "fixes";