
@import "foundation";

body {
  background: #eee;
}

#header {
  padding: 10px 0;
  background: #fff;

  ul {
    float: right;
    margin: 12px 0;
    list-style: none;

    &.actions {
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px solid #ddd;
    }

    li {
      float: left;
      margin: 0 0 0 10px;
    }
  }
}