.row
  .eight.columns
    .page
      %header
        .container
          .professional
            .row
              .two.columns.text-center
                = image_tag @professional.headshot.url(:small), :class => "headshot"
              .ten.columns.mobile-text-center
                %h1.name
                  = link_to @professional.name, professional_path(@professional)
                %p.whois
                  =t("professionals.show.whois", :locality => @professional.locality.name, :professions => @professional.professions_list, :topics => @professional.topics_list).html_safe
      %section
        .container
          - unless @reviews.empty?
            %h4=t "reviews.count_for_professional", :count => @reviews.count, :name => @professional.name
            %ul.looper.reviews
              - @reviews.each do |review|
                %li= render "reviews/shared/loop", :review => review
          = render "reviews/shared/new", :professional => @professional